@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";
@import url("http://fonts.googleapis.com/css?family=Crimson+Text");
@import url("http://fonts.googleapis.com/css?family=Lato");
/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}
/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: 1rem;
    }
}
@include gridify(2, 20);
@include gridify(2, 28);
@include gridify(3, 50);
/**
 * GENERAL
 */

html {
    height: 100%;
    transition: opacity .2s ease;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    font-family: "Crimson Text";
}
.linkoff {
    cursor: default;
    pointer-events: none;
}
body {
    transition: opacity .25s ease;
    font-family: "Lato";
    min-height: 100%;
    background-color: #f8f8f8;
    position: relative;
    font-size: medium;
}
header {
    width: 100%;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 0 #888;
    border-bottom: 1px solid #ccc;
    z-index: 1;
    padding: .5em 0;
    text-align: center;
    div {
        position: relative;
        max-width: 61em;
        margin: 0 auto;
        padding: 0 .5em;
    }
    h1 {
        vertical-align: middle;
        font-family: "Crimson Text";
        display: inline-block;
        margin: 0 auto .5rem;
    }
    .searchbar {
        // position: absolute;
        text-align: left;
        height: 1.7em;
        right: .5em;
        width: 15em;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        border: 1px solid #ccc;
        overflow: hidden;
    }
    label {
        display: inline;
        position: relative;
        left: 0;
    }
    input {
        position: relative;
        font-size: 1em;
        left: 1em;
        bottom: 1.6em;
        height: 1.3em;
        width: 13em;
        border: 0;
        &:focus {
            outline: none;
        }
    }
}
main {
    padding: 7.5em .5em 1em;
    max-width: 60em;
    margin: 0 auto;
    position: relative;
    transition: overflow .3s ease;
}
.filters {
	text-align: center;
	margin-top: .5em;
	margin-bottom: 1em;
	input {
		display: none;
	}
	input:checked + label {
		color: #333;
		border: 1px solid #333;
	}
	label {
		color: #555;
		border: 1px solid #ccc;
		border-radius: .2em;
		padding: .3em .5em;
		margin: 0 .3em;
	}
}
.arrows {
    pointer-events: none;
}
.arrow {
    pointer-events: auto;
    transition: opacity .2s ease;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 3em;
    background-color: #fff;
    border: 1px solid #555;
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        width: 1em;
        height: 1em;
        display: block;
        border-left: 4px solid #555;
        border-bottom: 4px solid #555;
    }
}
.left {
    &:before {
        transform: rotate(45deg);
        top: 30%;
        left: 40%;
    }
}
.right {
    &:before {
        transform: rotate(-135deg);
        top: 30%;
        right: 40%;
    }
}
.items {
    opacity: 0;
    transition: opacity .5s ease;
    & > * {
        margin-bottom: 2em;
        background-color: #fff;
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
        border: 1px solid #ccc;
        padding-bottom: 1em;
        & > * {
            margin: 0;
        }
    }
    img {
        display: block;
        margin-bottom: 1em;
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
    }
    h3 {
        font-size: 1.2em;
        margin: 0 .5rem .5rem;
    }
    h4 {
        font-size: .9em;
        max-width: 95%;
        margin: 0 .5rem;
    }
    .noresults {
        width: 100%;
        border-top-right-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
        padding: 2em 0;
    }
  }
.details {
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: top .5s ease;
    background-color: #fff;
    margin: 0 auto;
    padding: 1em 1em;
    border: 1px solid #ccc;
    max-width: 100%;
    h2 {
        margin: 0 auto .5em;
        max-width: 36rem;
    }
    h3 {
        font-size: 1.8em;
    }
    .images {
        position: relative;
    }
    .imgLrg {
        display: block;
        margin: 0 auto .5em;
    }
    .imgSidebar {
        font-size: 0;
        padding: .5rem 0;
        margin: 0 auto .5rem;
        max-width: 570px;
    }
    .imgSide {
        margin-right: .25rem;
        display: inline-block;
    }
    h4 {
        margin-bottom: .2em;
    }
    p {
        border: 1px solid #ccc;
        padding: .25em .5em 0;
        margin-left: .5em;
    }
    .desc {
        max-width: 36em;
        margin: 0 auto;
    }
    .buy {
        margin: 0 auto;
        text-align: center;
        h3 {
            display: inline-block;
            width: auto;
            border: 1px solid #333;
            padding: .5em;
        }
    }
    .arrows {
        text-align: center;
    }
    .arrow {
        display: none;
        margin: 0 1em;
        transition: opacity .5s ease;
    }
    .close {
        font-size: 1.5em;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 .5em;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
    }
    .shopIntro {
    	margin: 1em auto 0;
    	font-size: 1.4rem;
    	max-width: 32rem;
    }
    .shopListings {
        max-width: 32rem;
        margin: 0 auto;
        .shopItem {
            border: 1px solid #ccc;
            padding: .5em;
            margin: 1em 0 auto;
            text-align: center;
            img {
            	margin: 0 auto;
            	display: block;
            }
            h4 {
            	font-size: 1rem;
            }
        }
    }
}
/*****
MEDIA QUERIES
*****/

@media screen and (min-width: 40em) {
    header {
        text-align: left;
    }
    .searchbar {
        position: absolute;
        top: 1.5em;
    }
    .details {
        margin: 0 5% .75em;
        width: 90%;
        padding: 1em 1.5em;
        .arrows {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 3em;
            left: 0;
        }
        .arrow {
            position: absolute;
            margin: 0 .5em;
        }
        .left {
            left: 0
        }
        .right {
            right: 0;
        }
    }
}
